/* Recipt image */
.profileImg {
  max-width: 40px;
  max-height: 40px;
}
/* .profileImg:hover {
  max-width: 200px;
  max-height: 200px;
} */

/***************************************************Overlay/Alert*****************************
/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Landing Page */
.landing {
  position: relative;
  background: url("./images/landing.jpg") no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landing-inner h1 {
  color: #fff;
}
.profileImg {
  max-width: 40px;
  max-height: 40px;
}

/* TEMP1 STYLE--START */
@font-face {
  font-family: "CloisterBlack";
  src: url("./fonts/CloisterBlack.ttf");
}
@font-face {
  font-family: "Giveny";
  src: url("./fonts/Giveny.otf");
}
@font-face {
  font-family: "Muli-Bold";
  src: url("./fonts/muli/Muli-Bold.ttf");
}

.H1 {
  font-family: CloisterBlack;
  font-size: 70px;
  color: rgb(22, 22, 22);
  text-shadow: 2px 2px 10px rgb(78, 76, 74);
}
.H3 {
  font-family: Giveny;
  font-size: 18px;
  font-stretch: expanded;
  color: #c9a504;
  text-shadow: black 1px 1px;
  letter-spacing: 1px;
}

.topdivmain {
  width: 281.5mm;
  height: 215mm;
  padding: 20px;
  text-align: center;
  border: 1px solid #787878;
  background-color: rgb(247, 211, 8);
}
.borderMain {
  position: relative;
  padding: auto 10px;
  height: 204mm;
  width: 270mm;
  text-align: center;
  /* background-image: url("./images/back2.png"); */
  border: 10px solid #c9a504;
  z-index: 1;
}
/*   background-color:#FAF4DC;*/
.borderdotted {
  margin: 15px;
  height: 192mm;
  text-align: center;
}
.container1 {
  margin: 30px;
  height: 190mm;
  text-align: center;
}
.flexbox_1 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.flexbox_2 {
  position: absolute;
  height: 204.2mm;
  width: 272mm;
  /* background-image: url("./images/border3.png"); */
  display: flex;
  justify-content: center;
  z-index: 3;
}
.bottom {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.borderbottom1 {
  width: 200px;
  float: left;
  border: 0;
  border-bottom: 2px solid #000;
  margin-right: 8px;
}
.borderbottom2 {
  width: 200px;
  float: right;
  border: 0;
  border-bottom: 2px solid #000;
  margin-left: 8px;
}

/* TEMP 1STYLE ENDS */

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  padding: 0 10px;
  width: 60%;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.widget-area.blank {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
body .no-padding {
  padding: 0;
}
.widget-area {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: left;
  margin-top: 30px;
  padding: 25px 30px;
  position: relative;
  width: 100%;
}
.social-widget {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  overflow: hidden;
  width: 100%;
}

.social-widget > span#googleplus {
  background: #ff604f;
  color: #ff604f;
}

.social-widget > span {
  float: left;
  font-size: 28px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  width: 100%;
}

.social-widget > span > i {
  background: none repeat scroll 0 0 #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 60px;
  line-height: 60px;
  width: 60px;
}

.social-widget > ul {
  background: none repeat scroll 0 0 #fff;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.social-widget > ul:before {
  border-bottom: 9px solid #f0f0f0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  content: "";
  left: 50%;
  margin-left: -9px;
  position: absolute;
  top: -8px;
}
.social-widget > ul > li {
  float: left;
  list-style: none outside none;
  padding: 17px 0;
  position: relative;
  text-align: center;
  width: 50%;
  background: #f0f0f0;
}
.social-widget > ul > li {
  float: left;
  list-style: none outside none;
  padding: 17px 0;
  position: relative;
  text-align: center;
  width: 50%;
  background: #f0f0f0;
}

.social-widget p {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
}
p {
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  color: #777777;
  letter-spacing: 0.3px;
  float: left;
  width: 100%;
  line-height: 24px;
}
.social-widget li > p > i {
  color: #777777;
  float: left;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: center;
  width: 100%;
}
